<div class="container">
  <div class="row">
      <div class="col-4" *ngFor="let Ariane of imagens; index as i" style="padding-top: 3%;">
              <div class="card mt-5" style="width: 19rem;" >
                  <rev-fotos [imagens]="Ariane.img"></rev-fotos>
                  <div class="card-body bg-dark text-center text-light">
                    <h2 class="card-text">{{Ariane.titulo}}</h2>
                  <a class="btn text-light" href={{Ariane.img}} download={{Ariane.img}}>Download</a>
                  </div>
                </div>
          </div>
      </div>
    </div>



